p:first-of-type {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 50px;
  font-family: "SimSun", "Songti SC", "AR PL UMing", "STSong", "宋体";
  text-align: center;
}

p:last-of-type {
  font-size: 12px;
  text-align: center;
  color: white;
  margin-top: 0px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

html {
  background-color: #231925;
}

body {
  margin: 0 auto;
  padding: 60px 20px 0px 20px;
  position: relative;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
